body {
    background-color: #2c2c2c;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    margin: 5;
    overflow: hidden;
}

canvas {
    display: block;
}

.floating-toolbar {
    position: fixed;
    top: 12px;
    left: 12px;
    background-color: #2c2c2c;
    padding: 3px;
    border-radius: 10px;
    border: 1px solid #434343;
    box-shadow: 0 5px 5px #000000;
    z-index: 1000;
}

.tool-button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.tool-button:hover {
    background-color: #383838;
}

.tool-button.checked {
    background-color: #0c8ce9;
}